### 지도학습

#### 분류 - 다항분류
- 목표변수 : Pclass

In [1]:
import pandas as pd

In [2]:
df_TFD = pd.read_csv('../../../datasets/TitanicFromDisaster_train.csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### 전처리

In [3]:
df_TFD.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df_TFD_extract = df_TFD[['Survived', 'Pclass', 'Age', 'Fare']]
df_TFD_extract.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [6]:
# Age null값 삭제
df_TFD_extract_preprocess = df_TFD_extract.dropna()
df_TFD_extract_preprocess[:2]

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833

#### 정형화

In [7]:
df_TFD_extract_preprocess['Pclass'].value_counts()

3    355
1    186
2    173
Name: Pclass, dtype: int64

In [9]:
target_train = df_TFD_extract_preprocess['Pclass']  # 목표변수
features_train = df_TFD_extract_preprocess.drop(columns=['Pclass'])  # 'Pclass'만 뺀 나머지 columns, 즉 설명변수
target_train.shape, features_train.shape

((714,), (714, 3))

#### 모델학습
- tree 방식으로 모델학습

In [11]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(features_train, target_train)

DecisionTreeClassifier()

In [20]:
# 그래프 표시
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree

In [17]:
features_train.columns.to_list()

['Survived', 'Age', 'Fare']

In [23]:
# 팝업으로 그래프 띄울 수 있음
%matplotlib tk

In [28]:
# 위에서 설명변수를 리스트로 만들어서 feature_names에 넣어줌
# plot_tree(model, feature_names=features_train.columns.to_list())   # 수치와 함께 그래프 표시
plt.figure(figsize=(60,50))
plot_tree(model, feature_names=features_train.columns.to_list(), filled=True)
plt.show()

#### 평가

In [12]:
target_predict = model.predict(features_train)
target_predict.shape

(714,)

In [14]:
# score확인
from sklearn.metrics import accuracy_score
accuracy_score(target_train, target_predict)

# 100% 맞음

1.0

#### 예측