###  Quest
- NSC_BND_M20 사용 (목표변수:SICK_SYM1, 설명변수: 연속형변수 5개 사용)
- train_test_split() 이용
- classification_report(train, test set)

#### 변수설정
1. 목표변수 : SICK_SYM1
2. 설명변수
    * MDCARE_DD_CNT(요양일수)
    * VSHSP_DD_CNT(입내원일수)
    * TOT_PRSC_DD_CNT(총처방일수)
    * EDC_SBA(심결본인부담금)
    * EDC_INSUR_BRDN_AMT(심결보험자부담금)

In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')
database = client['db_NHIS']
collection = database['Join Collection NSC2_BND_M20']
cursor = collection.find({})
list_BNS_M20 = list(cursor)
df_BNS_M20 = pd.DataFrame(list_BNS_M20)
df_BNS_M20[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6c524f22b93c7fc16a128,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6c524f22b93c7fc16a129,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002

#### 전처리
- 3자리로 자르기
- F_, N_ 값들은 NULL 값으로 만들기 : 상병에 맞지 않는 값들이므로 자료를 없애주는 것

In [3]:
df_BNS_M20['SICK_SYM1'].value_counts()

J209     8244
I10      4629
I109     3275
F_       3203
N_       3177
         ...
H700        1
E058        1
M5397       1
T18         1
P289        1
Name: SICK_SYM1, Length: 3414, dtype: int64

In [4]:
len('J209'), len('F_')

(4, 2)

In [5]:
'J209'[:3]
# str('J209')[:3]

'J20'

In [6]:
# sick_sym에 담기는 값들: J209, I10, I109...
def convertSICK_SYM(sick_sym) :
    if len(sick_sym) < 3 :
        return None
    else :
        return sick_sym[:3]
# return을 중간에 조건이 맞으면 쓰기도 함!

In [7]:
convertSICK_SYM('J209'), convertSICK_SYM('F_')

('J20', None)

In [8]:
# apply()적용해서 새로운 컬럼 만들기
df_BNS_M20['SICK_SYM1_3'] = df_BNS_M20['SICK_SYM1'].apply(convertSICK_SYM)

In [9]:
df_BNS_M20['SICK_SYM1_3'].value_counts()

J20    8917
I10    8427
J03    4187
M54    3904
J06    3460
       ...
G97       1
K01       1
S28       1
I72       1
P28       1
Name: SICK_SYM1_3, Length: 747, dtype: int64

In [10]:
# null값 삭제
df_BNS_M20_dropna = df_BNS_M20.dropna()
df_BNS_M20_dropna.isnull().sum()

_id                   0
RN_INDI               0
BTH_YYYY              0
DTH_YYYYMM            0
COD1                  0
COD2                  0
RN_KEY                0
RN_INST               0
MDCARE_STRT_DT        0
FORM_CD               0
MCARE_SUBJ_CD         0
SICK_SYM1             0
OFIJ_TYPE             0
OPRTN_YN              0
MDCARE_DD_CNT         0
VSHSP_DD_CNT          0
TOT_PRSC_DD_CNT       0
MCARE_RSLT_TYPE       0
EDC_ADD_RT            0
ED_RC_TOT_AMT         0
EDC_SBA               0
EDC_INSUR_BRDN_AMT    0
STD_YYYY              0
SICK_SYM1_3           0
dtype: int64

In [11]:
df_BNS_M20_dropna[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,SICK_SYM1_3
0,64e6c524f22b93c7fc16a128,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,1,1,3,5.0,0.15,10590,3000,7590,2002,L02
3,64e6c524f22b93c7fc16a12b,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,1,1,3,5.0,0.15,12920,3000,9920,2002,K29

In [12]:
target_list = df_BNS_M20_dropna['SICK_SYM1_3'].value_counts().index.to_list()

In [13]:
target_list.index('L02'), target_list.index('J03')

(83, 6)

In [14]:
# SICK_SYM1_3 값을 넣었을 때 index값, 즉 어느 위치에 있는지 알고자 함
def applyIndexNumber(sick_sym_3):
    indexNumber = target_list.index(sick_sym_3)
    return indexNumber

In [15]:
df_BNS_M20_dropna['SICK_SYM1_3_target'] = df_BNS_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)
df_BNS_M20_dropna[:2]

C:\Users\koreavc\AppData\Local\Temp\ipykernel_15936\2301855272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_BNS_M20_dropna['SICK_SYM1_3_target'] = df_BNS_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,SICK_SYM1_3,SICK_SYM1_3_target
0,64e6c524f22b93c7fc16a128,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,1,3,5.0,0.15,10590,3000,7590,2002,L02,83
3,64e6c524f22b93c7fc16a12b,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,1,3,5.0,0.15,12920,3000,9920,2002,K29,8

#### 정형화

In [17]:
from sklearn.model_selection import train_test_split
target = df_BNS_M20_dropna['SICK_SYM1_3']
features = df_BNS_M20_dropna[['MDCARE_DD_CNT', 'VSHSP_DD_CNT', 'TOT_PRSC_DD_CNT', 'EDC_SBA', 'EDC_INSUR_BRDN_AMT']]

In [ ]:
features, target = train_test_split(features, target, random=111)