###  Quest
- NSC_BND_M20 사용 (목표변수:SICK_SYM1, 설명변수: 연속형변수 5개 사용)
- DecisionTreeClassifier 전처리, 학습, 평가

#### 변수설정
1. 목표변수 : SICK_SYM1
2. 설명변수
    * MDCARE_DD_CNT(요양일수)
    * VSHSP_DD_CNT(입내원일수)
    * TOT_PRSC_DD_CNT(총처방일수)
    * EDC_SBA(심결본인부담금)
    * EDC_INSUR_BRDN_AMT(심결보험자부담금)

In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['db_NHIS']

In [4]:
collection = database['Join Collection NSC2_BND_M20']

In [10]:
cursor = collection.find({})

In [11]:
list_patient = list(cursor)

In [15]:
df_NBM = pd.DataFrame(list_patient)
df_NBM[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6c524f22b93c7fc16a128,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6c524f22b93c7fc16a129,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002

In [16]:
df_NBM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137163 entries, 0 to 137162
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id                 137163 non-null  object
 1   RN_INDI             137163 non-null  int64
 2   BTH_YYYY            137163 non-null  object
 3   DTH_YYYYMM          10269 non-null   float64
 4   COD1                8473 non-null    object
 5   COD2                998 non-null     object
 6   RN_KEY              137163 non-null  int64
 7   RN_INST             137163 non-null  int64
 8   MDCARE_STRT_DT      137163 non-null  int64
 9   FORM_CD             137163 non-null  int64
 10  MCARE_SUBJ_CD       137163 non-null  int64
 11  SICK_SYM1           137163 non-null  object
 12  OFIJ_TYPE           134428 non-null  object
 13  OPRTN_YN            137163 non-null  int64
 14  MDCARE_DD_CNT       137163 non-null  int64
 15  VSHSP_DD_CNT        137163 non-null  int64
 16  TOT_PRSC_DD_CNT     137163 non-null  int64
 17  MCARE_RSLT_TYPE     133958 non-null  float64
 18  EDC_ADD_RT          137163 non-null  float64
 19  ED_RC_TOT_AMT       137163 non-null  int64
 20  EDC_SBA             137163 non-null  int64
 21  EDC_INSUR_BRDN_AMT  137163 non-null  int64
 22  STD_YYYY            137163 non-null  int64
dtypes: float64(3), int64(14), object(6)
memory usage: 24.1+ MB

#### 전처리

In [14]:
df_NBM.columns

Index(['_id', 'RN_INDI', 'BTH_YYYY', 'DTH_YYYYMM', 'COD1', 'COD2', 'RN_KEY',
       'RN_INST', 'MDCARE_STRT_DT', 'FORM_CD', 'MCARE_SUBJ_CD', 'SICK_SYM1',
       'OFIJ_TYPE', 'OPRTN_YN', 'MDCARE_DD_CNT', 'VSHSP_DD_CNT',
       'TOT_PRSC_DD_CNT', 'MCARE_RSLT_TYPE', 'EDC_ADD_RT', 'ED_RC_TOT_AMT',
       'EDC_SBA', 'EDC_INSUR_BRDN_AMT', 'STD_YYYY'],
      dtype='object')

In [20]:
df_NBM_extract = df_NBM[['SICK_SYM1', 'MDCARE_DD_CNT', 'VSHSP_DD_CNT', 'TOT_PRSC_DD_CNT', 'EDC_SBA', 'EDC_INSUR_BRDN_AMT']]
df_NBM_extract.isnull().sum()

SICK_SYM1             0
MDCARE_DD_CNT         0
VSHSP_DD_CNT          0
TOT_PRSC_DD_CNT       0
EDC_SBA               0
EDC_INSUR_BRDN_AMT    0
dtype: int64

In [54]:
df_NBM_extract['SICK_SYM1'].unique()

array(['L028', 'J030', 'K291', ..., 'P920', 'R061', 'P289'], dtype=object)

In [64]:
df_NBM_extract = df_NBM_extract.drop(columns='SYM1_int')

In [65]:
def int (cell) :
    result = ""
    return result
df_NBM_extract['SICK_SYM1_int'] = df_NBM_extract['SICK_SYM1'].str.replace(r'^[a-zA-Z]', int)
df_NBM_extract

C:\Users\koreavc\AppData\Local\Temp\ipykernel_4496\1242638606.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_NBM_extract['SICK_SYM1_int'] = df_NBM_extract['SICK_SYM1'].str.replace(r'^[a-zA-Z]', int)

,SICK_SYM1,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,EDC_SBA,EDC_INSUR_BRDN_AMT,SICK_SYM1_int
0,L028,1,1,3,3000,7590,028
1,J030,1,1,2,4950,11570,030
2,J030,3,3,3,9000,18620,030
3,K291,1,1,3,3000,9920,291
4,M545,1,1,0,3000,11230,545
...,...,...,...,...,...,...,...
137158,J209,2,1,0,2300,8980,209
137159,J209,2,1,0,3700,15940,209
137160,J209,2,1,0,2800,10670,209
137161,J209,2,1,0,2600,10930,209
137162,J00,3,1,0,6800,14930,00

#### 정형화

In [ ]:
df_NBM_extract_preprocess['']